.first-block {
  &__container {
    position: relative;
    background-image: url(./../../image/webp/banner-small.webp);
    background-position: center;
    background-repeat: no-repeat;
    max-height: 468px;
  }
  &__body {
    padding: 12rem 1.2rem 1.2rem;
  }
  &__title {
    display: flex;
    align-items: center;
    width: 25.8rem;
    margin-bottom: 5.7rem;
    font-family: 'Montserrat-Bold';
    font-size: 4rem;
    line-height: 5.6rem;
    color: #ffffff;
  }
  &__benefits-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
  }
  &__benefits-container {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
  }
  &__delivery-text {
    @extend %h3text;
    max-width: 12rem;
  }
  &__purse-text {
    @extend %h3text;
  }
  &__crown-text {
    @extend %h3text;
  }
}

.brend-block {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 1.2rem 0;
  }
  &__item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(33.3333333333% - 0.7rem);
    height: 4.4rem;
    background-color: #ffffff;
  }
}

.sort {
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__select {
    color: var(--color-blue);
    background: transparent;
    &:invalid {
      color: var(--color-grey);
    }
    & option[value=''] {
      color: var(--color-grey);
    }
  }
}

.product-block {
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    padding: 3.2rem 1.2rem 0;
  }
}

.product {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
  }
  &__title {
    font-family: 'Bebas-Neue-bold';
    margin-top: 3.2rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-align: center;
    padding: 0 0.8rem;
  }
  &__conditional-container {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
  }
  &__status-container {
    display: flex;
    justify-content: center;
    column-gap: 4rem;
    margin-top: 0.8rem;
  }
  &__status {
    font-family: 'Montserrat-Regular';
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--color-grey);
  }
  &__status-vector {
    color: green;
  }
  &__description-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.6rem;
  }
  &__description-text {
    font-family: 'Montserrat-Regular';
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    height: 12rem;
    overflow: hidden;
    &.descriptional-more {
      height: auto;
    }
  }
  &__description-button {
    display: flex;
    column-gap: 0.8rem;
    justify-content: center;
    color: var(--color-blue);
    margin-top: 1.6rem;
    cursor: pointer;
    & p {
      font-family: 'Montserrat-Regular';
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
  &__price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.8rem;
    margin-top: 1.6rem;
  }
  &__price {
    font-family: 'Montserrat-Bold';
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
  &__price-availability {
    font-family: 'Montserrat-Regular';
    font-size: 1.4rem;
    line-height: 2rem;
  }
  &__opt {
    font-family: 'Montserrat-Medium';
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 0.8rem;
    text-align: center;
    color: var(--color-orange);
  }
  &__callback-button {
    @extend %buttonOrange;
    margin: 1.6rem auto 2.4rem;
  }
}

.form-block {
  &__container {
    margin-top: 6.4rem;
    background: url(./../../image/webp/footer.webp) center no-repeat;
  }
  &__title {
    font-family: 'Montserrat-Bold';
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
    padding: 3.2rem 1.2rem 0;
  }
  &__sub-title {
    font-family: 'Montserrat-Medium';
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    padding: 0 1.2rem;
    margin-top: 0.4rem;
  }
  &__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 1.2rem 2.6rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    max-width: 64.6rem;
    height: 38.4rem;
    width: 100%;
    padding: 2.4rem 2.4rem 1.6rem;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: -2px 5px 40px rgb(31 60 109 / 16%);
  }
}

.form {
  &__textarea-container,
  &__input-name-container,
  &__input-phone-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
  }
  &__input-name-container,
  &__input-phone-container {
    margin-top: 0.8rem;
    position: relative;
  }
  &__textarea {
    width: 100%;
    min-height: 11.2rem;
    background: var(--color-light);
    border: 0.1rem solid #cacaca;
    overflow: auto;
  }
  &__textarea-text,
  &__input-name-text,
  &__input-phone-text {
    @extend %inputText;
  }
  &__input-name,
  &__input-phone {
    @extend %inputMainForm;
  }
  &__button {
    @extend %buttonOrange;
    margin: 1.6rem auto 0;
  }
  &__input-icon {
    @extend %inputIcon;
  }
}
