@import './reset';

:root {
  --color-white: #ffffff;
  --color-light: #f5f4f0;
  --color-orange: #ff6031;
  --color-blue: #5b7fbd;
  --color-blue-dark: #1f3c6d;
  --color-dark: #111111;
  --color-grey: #9e9e9e;
  --color-grey-light: #e9e9e9;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(./../../fonts/woff2/Montserrat-Regular.woff2) format('woff2'),
    url(./../../fonts/woff/Montserrat-Regular.woff) format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url(./../../fonts/woff2/Montserrat-Medium.woff2) format('woff2'),
    url(./../../fonts/woff/Montserrat-Medium.woff) format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(./../../fonts/woff2/Montserrat-Bold.woff2) format('woff2'),
    url(./../../fonts/woff/Montserrat-Bold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url(./../../fonts/woff2/SourceSansPro-Regular.woff2) format('woff2'),
    url(./../../fonts/woff/SourceSansPro-Regular.woff) format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url(./../../fonts/woff2/SourceSansPro-SemiBold.woff2) format('woff2'),
    url(./../../fonts/woff/SourceSansPro-SemiBold.woff) format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url(./../../fonts/woff2/SourceSansPro-Bold.woff2) format('woff2'),
    url(./../../fonts/woff/SourceSansPro-Bold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas-Neue-bold';
  src: url(./../../fonts/woff2/bebas-neue-bold.woff2) format('woff2'),
    url(./../../fonts/woff/bebas-neue-bold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@import './var';
@import './common';
@import './slider';
@import './header';
@import './main';
@import './footer';
@import './modal';
@import './media';
